IF(CMAKE_BUILD_TYPE MATCHES Debug)
    # Local de instalação da biblioteca de Debug
    set(CMAKE_INSTALL_PREFIX [ROOT_DIR]/externalsUnisinos/win64-msvc2019/QtWebApp/install/debug)
else()
    # Local de instalação da biblioteca de Release
    set(CMAKE_INSTALL_PREFIX [ROOT_DIR]/externalsUnisinos/win64-msvc2019/QtWebApp/install/release)
endif()
